@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #132584;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, input, button {
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 1rem 1rem 0 1rem;
  background: #8895DC;
  color: #111D13;
}

body > header, main {
  width: 100%;
}

body > header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

select {
  font-size: 1rem;
}

.page-title {
  font-size: 3rem;
  line-height: 1rem;
}

.menu-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: .25rem;
}

label {
  display: block;
}

label > input {
  width: 100%;
  border: 1px solid grey;
  padding: .25rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.form-button-group {
  display: flex;
  justify-content: space-between;
}

.form-button-group button {
  margin: .5rem .25rem 0 .25rem;
  padding: .25rem 1rem;
  flex-grow: 1;
}

.form-button-group :first-child {
  margin-left: 0;
}

.form-button-group :last-child {
  margin-right: 0;
}

.bookmarks-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bookmark-item {
  margin: .5rem;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  background-color: whitesmoke;
  border-radius: .25rem;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  flex-grow: 1;
  width: 100%;
}

.bookmark-item-rating {
  position: relative;
  top: -.25rem;
}

.checked {
  color: #FFC841;
}

.button-add {
  padding: .25rem .5rem;
  border-style: none;
  background: white;
  font-size: 1rem;
  border-radius: .25rem;
  font-weight: bold;
}

.ratings-filter-area {
  display: flex;
  align-items: center;
}

.ratings-filter {
  position: relative;
  display: inline-block;
  flex-grow: 1;
}

.ratings-filter:after {
  content: '<>';
  font: 1rem "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 5px;
  top: 10px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;  
  position: absolute;
  pointer-events: none;
}

.ratings-filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
  display: inline-block;
  width: 100%;
  height: 2rem;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.form-area {
  flex-grow: 1;
}

.bookmark-item-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.bookmark-item-header {
  display: flex;
  justify-content: space-between;
  background: #5E6FC7;
  padding: 1rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.bookmark-item-header-right > .bookmark-item-controls {
  position: relative;
  top: .25rem;
}

.bookmark-link {
  display: block;
  margin-top: .5rem;
}

.bookmark-link:hover {
  color: #8895DC;
}

.bookmark-delete {
  background: none;
  border: none;
}

i.fas.fa-times-circle {
  color: #FFFCE8;
  cursor: pointer;
}

i.fas.fa-times-circle:hover {
  color: #FFC841;
}

#ratings-filter-label {
  display: inline-block;
  font-weight: bold;
}