@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, input, button {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 1rem 1rem 0 1rem;
}

body > header, main {
  width: 100%;
}

body > header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

select {
  font-size: 1rem;
  width: 2rem;
}

.page-title {
  font-size: 3rem;
  line-height: 1rem;
}

.menu-area {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: .25rem;
}

label {
  display: block;
}

label > input {
  width: 100%;
  border: 1px solid grey;
  padding: .25rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.form-button-group {
  display: flex;
  justify-content: space-between;
}

.form-button-group button {
  margin-top: .5rem;
  padding: .25rem 1rem;
  flex-grow: 1;
}

ul {
  list-style-type: none;
}

.bookmark-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.bookmark-item:first-child {
  margin-top: 0;
}

.bookmark-item:last-child {
  margin-bottom: 0;
}

.bookmark-item-rating {
  position: relative;
  top: -.5rem;
}

.checked {
  color: goldenrod;
}

.button-add {
  padding: .25rem .5rem;
}

.ratings-filter {
  line-height: 2rem;
}

.form-area {
  flex-grow: 1;
}

.bookmark-item-body {
  display: flex;
  justify-content: space-between;
}

.bookmark-item-header {
  display: flex;
  justify-content: space-between;
}

.bookmark-item-header-right > .bookmark-item-controls {
  position: relative;
  top: .25rem;
}

.bookmark-link {
  display: block;
  margin-top: .5rem;
  color: blue;
  text-decoration: none;
}

.bookmark-link:hover {
  color: blueviolet;
}

.bookmark-delete {
  background: none;
  border: none;
}